<!-- partial-home-list.html -->
<!-- partials don't need HTML5 boiler tags -->
<!-- controller for ng-repeat defined in the state section (core.JS) -->

<ul>
    <li ng-repeat="dog in dogs"> {{dog}}</li>
</ul>



<!-- TWITTER BOX -->
<a class="twitter-timeline" href="https://twitter.com/MakerJeffWu" data-widget-id="685277929421447168">Tweets by @MakerJeffWu</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- TWITTER BOX END-->
