<!-- partial-home.html -->
<!-- THIS GETS LOADED AS THE MAIN PAGE -->
<!-- partials don't need HTML5 boiler tags -->
<!-- controller for ng-repeat defined in the state section (core.JS) -->

<div class="jumbotron text-center">
    <h1>Cool Sh*t Team Projects</h1>
    <p> This is the beginning of a SPA template for all our cool sh*t projects.</p>
    <!--<p>This page demonstrates <span class="text-danger"> nested</span> views.</p>-->

    <!-- some basic buttons: 'ui-sref' instead of 'href' for ui-router, also append the '.' -->
    <a ui-sref=".videos" class="btn btn-danger">Videos</a>
    <a ui-sref=".projects" class="btn btn-primary">Projects</a>

    <img class="one_eighty_logo_img clear">
</div>

<div ui-view></div>
